<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <!-- Basic Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="title"
            content="About Us | Peter Pan | Longevity for Everyone"
        />
        <meta
            name="description"
            content="Peter Pan is an AI tool that helps people improve their healthspan and energy by managing their glucose levels. Try it out for personalized health advice!"
        />
        <meta
            name="keywords"
            content="Peter Pan, Longevity, Healthspan, AI Health Assistant, Glucose Management, Healthy Living, Energy Management, Blood Sugar, Diet, AI prototype"
        />
        <meta
            name="author"
            content="Daniel H. Liu, Chloe Nguyen, Prajwal Prashanth"
        />
        <meta name="robots" content="index, follow" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://peterpan-ai.com/about-us" />
        <meta
            property="og:title"
            content="About Us | Peter Pan | Longevity for Everyone"
        />
        <meta
            property="og:description"
            content="Peter Pan helps you manage your health and energy levels through AI-driven advice. Improve your glucose management today!"
        />
        <meta
            property="og:image"
            content="https://peterpan-ai.com/static/peter_pan.webp"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:url"
            content="https://peterpan-ai.com/about-us"
        />
        <meta
            property="twitter:title"
            content="About Us | Peter Pan | Longevity for Everyone"
        />
        <meta
            property="twitter:description"
            content="Peter Pan is an AI-driven tool that helps people optimize their health and energy through glucose management. Try it now!"
        />
        <meta
            property="twitter:image"
            content="https://peterpan-ai.com/static/peter_pan.webp"
        />

        <title>About Us | Peter Pan | Longevity for Everyone</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Kite+One&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img
                            src="{{ url_for('static', filename='peter-pan-head.webp') }}"
                            alt="Peter Pan"
                        />
                    </a>
                </div>
                <ul>
                    <li><a href="/product-demo">Product Demo</a></li>
                    <li><a href="/about-peter-pan">About Peter Pan</a></li>
                    <li><a href="/about-us">About Us</a></li>
                </ul>
            </div>
        </nav>
        <div class="container" id="main-content">
            <section id="aboutus">
                <h1>About Us</h1>
                <p>
                    Peter Pan was originally made by us three high-school
                    students in Vancouver, Canada:
                    <a
                        href="https://www.linkedin.com/in/daniel-haoqing-liu/"
                        target="_blank"
                        >Daniel H. Liu</a
                    >,
                    <a
                        href="https://www.linkedin.com/in/chloe-hongan-nguyen/"
                        target="_blank"
                        >Chloe Nguyen</a
                    >, and
                    <a
                        href="https://www.linkedin.com/in/prajwal-prashanth/"
                        target="_blank"
                        >Prajwal Prashanth</a
                    >.
                </p>
                <p>
                    We worked together to make the initial concepts and
                    prototype of Peter Pan. At first, we envisioned an app that could
                    make longevity and a healthy life accessible to all people.
                    We realized that maintaining a healthy life is a difficult
                    goal with other responsibilities and time-consuming tasks.
                    Longevity wasn't a normal consideration for most, since we
                    all have other things to do besides concentrate on our
                    health.
                </p>
                <p>
                    We thought about parents as an especially clear case.
                    Parents have to balance their children's life, their own
                    life, and all their responsibilities and simple enjoyment.
                    In all this chaos and splintered work, parents just can't
                    ponder their glucose all day. That's where Peter Pan comes
                    in: we wanted to make a service that manages your glucose
                    curves and gives actionable feedback to help you maintain
                    your health, your energy, and extend your healthspan and
                    lifespan.
                </p>
                <p style="margin-bottom: 0">
                    <i
                        >"The moment you doubt whether you can fly, you cease
                        for ever to be able to do it."</i
                    >
                </p>
                <p style="margin-top: 0">- J. M. Barrie, Peter Pan</p>

                <!-- Developer 1 -->
                <div class="developer">
                    <img src={{ url_for('static', filename='daniel.webp') }}
                    alt="Daniel H. Liu" />
                    <div class="developer-info">
                        <h2>Daniel H. Liu</h2>
                        <p>
                            Daniel is...
                        </p>
                    </div>
                </div>

                <!-- Developer 2 -->
                <div class="developer">
                    <img src={{ url_for('static', filename='chloe.webp') }}
                    alt="Chloe Nguyen" />
                    <div class="developer-info">
                        <h2>Chloe Nguyen</h2>
                        <p>
                            Chloe is...
                        </p>
                    </div>
                </div>

                <!-- Developer 3 -->
                <div class="developer">
                    <img src={{ url_for('static', filename='prajwal.webp') }}
                    alt="Prajwal Prashanth" />
                    <div class="developer-info">
                        <h2>Prajwal Prashanth</h2>
                        <p>
                            Prajwal is...
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
