<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <!-- Basic Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="Peter Pan | Longevity for Everyone" />
        <meta
            name="description"
            content="Peter Pan is an AI tool that helps people improve their healthspan and energy by managing their glucose levels. Try it out for personalized health advice!"
        />
        <meta
            name="keywords"
            content="Peter Pan, Longevity, Healthspan, AI Health Assistant, Glucose Management, Healthy Living, Energy Management, Blood Sugar, Diet, AI prototype"
        />
        <meta
            name="author"
            content="Daniel H. Liu, Chloe Nguyen, Prajwal Prashanth"
        />
        <meta name="robots" content="index, follow" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://peterpan-ai.com/" />
        <meta
            property="og:title"
            content="Peter Pan | Longevity for Everyone"
        />
        <meta
            property="og:description"
            content="Peter Pan helps you manage your health and energy levels through AI-driven advice. Improve your glucose management today!"
        />
        <meta
            property="og:image"
            content="https://peterpan-ai.com/static/peter_pan.webp"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://peterpan-ai.com/" />
        <meta
            property="twitter:title"
            content="Peter Pan | Longevity for Everyone"
        />
        <meta
            property="twitter:description"
            content="Peter Pan is an AI-driven tool that helps people optimize their health and energy through glucose management. Try it now!"
        />
        <meta
            property="twitter:image"
            content="https://peterpan-ai.com/static/peter_pan.webp"
        />

        <title>Peter Pan | Longevity for Everyone</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Kite+One&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img
                            src="{{ url_for('static', filename='peter-pan-head.webp') }}"
                            alt="Peter Pan"
                        />
                    </a>
                </div>
                <ul>
                    <li><a href="/product-demo">Product Demo</a></li>
                    <li><a href="/about-peter-pan">About Peter Pan</a></li>
                    <li><a href="/about-us">About Us</a></li>
                </ul>
            </div>
        </nav>

        <section id="main-content">
            <div>
                <h1>Longevity for Everyone</h1>
                <p>
                    🚧 This page is currently under construction. Visit the
                    other pages for now! 🚧
                </p>
            </div>
        </section>
    </body>
</html>
